.checkout-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  color: #6a4f33;
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  padding: 10px 20px;
  background-color: #ddd;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #6a4f33;
}

.step.active {
  background-color: #6a4f33;
  color: white;
}

.step-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #6a4f33;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-right: 10px;
}

button:hover {
  background-color: #6a4f33;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.mensaje-exitoso {
  background-color: #d4edda;
  color: #155724;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

.form-error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}
