.carrito-icon {
  z-index: 1000; /* siempre arriba del contenido */
}

.carrito-icon a {
  color: #333;
  text-decoration: none;
  position: relative;
}

.carrito-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 4px 7px;
  font-size: 12px;
  font-weight: bold;
}
