.carrito-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  max-width: 900px;
  background-color: #6a4f33;
  box-shadow: #000000;
  overflow-y: auto;
  padding-top: 60px;
}

.carrito-page h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
}

.cart-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  transition: transform 0.3s ease-in-out;
}

.cart-card:hover {
  transform: translateY(-5px);
}

.cart-card img {
  max-width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-details {
  flex-grow: 1;
  text-align: left;
}

.cart-details p {
  margin: 5px 0;
  font-size: 1rem;
  color: #000000;
}

.cart-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.cart-buttons button {
  padding: 10px 12px;
  font-size: 1.2rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cart-buttons button:hover {
  background-color: #000000;
  transform: scale(1.25);
}

.total {
  font-size: 1.8rem;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.checkout-btn {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.checkout-btn:hover {
  background-color: #00000075;
}

.codigo-postal {
  background-color: #6a4f33;
  font-size: 14px; /* Ajusto el tamaño de la fuente */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.codigo-postal p {
  margin: 5px 0;
}

.codigo-postal input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 10px;
}
